apiVersion: v1
kind: Service
metadata:
  name: ingress-upstream
  labels:
    app: ingress-upstream
spec:
  selector:
    app: console-project
  ports:
    - name: 80-to-1993
      protocol: TCP
      port: 80
      targetPort: 1993
